img{
    width:300px;
    display:inline-block;
    padding:30px;
}
.piss{
    text-align:center;
}
*{
    font-style: italic;
}
.was{
    padding:20px;
}
td{
    margin-left:50px;
    padding:20px;
    text-align: center;
}